<%= form_for comment do |f| %>
  <p>
    <%= f.text_field :comment, :placeholder => "Comment" %>
    <%= f.hidden_field :event_id, :value => @event.id %>
  </p>
  <%= f.submit "Post" %>
<% end %>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
