<div class="comment <%= comment.id%>">
  <div class="comment-buttons">
    <%= render 'votes/commentnote', :comment => comment %>
    <%= render 'votes/commentvote_buttons', :comment => comment %>
  </div>
  <p><%= comment.comment %></p>
  <h6><%= link_to ("by " + comment.username), user_path(comment.user), :class => "author" %></h6>
  <%= render 'comments/form', :event => @event, :commentable => comment %>

  <% unless children(@all_comments, comment).empty? %>
  <ul>
    <% sort_top(children(@all_comments, comment)).each do |child| %>
      <li>
        <%= render 'comments/show', :comment => child %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>

