<ul>
  <%= form_tag session_create_path, :method => :post do %>
    <% if @login_error %>
      <p>
        <%= @login_error %>
      </p>
    <% end %>

    <li>
      <%= text_field_tag 'username', nil, {:required => true, :placeholder => 'Username'} %>
    </li>
    <li>
      <%= password_field_tag 'password', nil, {:required => true, :placeholder => 'Password'} %>
    </li>
    <li>
      <%= submit_tag 'Login' %>
    </li>
  <% end %>
</ul>
