<ul>
  <%= form_for @user do |f| %>

  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <li>
    <%= f.text_field :username, {:required => true, :placeholder => 'Username'} %>
  </li>

  <li>
    <%= f.password_field :password, {:required => true, :placeholder => 'Password'} %>
  </li>

  <li>
    <%= f.password_field :password_confirmation, {:required => true, :placeholder => 'Password Confirmation'} %>
  </li>

  <li>
    <%= f.submit 'Signup' %>
  </li>
  <% end %>
</ul>

