<%= form_for @user do |f| %>
  <% if flash[:errors_signup] %>
    <ul>
      <% flash[:errors_signup].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_field :username, {:required => true, :placeholder => 'Username'} %>
  <%= f.text_field :email, {:required => true, :placeholder => 'Email'} %>
  <%= f.password_field :password, {:required => true, :placeholder => 'Password'} %>
  <%= f.password_field :password_confirmation, {:required => true, :placeholder => 'Password Confirmation'} %>
  <%= f.submit 'rake db:signup' %>
<% end %>

