<div id="profile">
  <%= gravatar_for @user %>
  <p><%= @user.username %></p>
</div>

<div class="list">

  <div class="accepted-events upcoming">
    <h1>Accepted Upcoming Events</h1>
    <% sort_top(sort_desc(@user.accepted_events)).each do |event| %>
      <%= (render 'events/single_event' , :event => event) if event.upcoming? %>
    <% end %>
  </div>

  <div class="possible-events upcoming">
    <h1>Possible Upcoming Events</h1>
    <% sort_top(sort_desc(@user.possible_events)).each do |event| %>
      <%= (render 'events/single_event' , :event => event) if event.upcoming? %>
    <% end %>
  </div>

  <div class="commented-events upcoming">
    <h1>Commented Events</h1>
    <% sort_top(@user.commented_events).each do |event| %>
      <%= render 'events/single_event' , :event => event %>
    <% end %>
  </div>

  <div class="past-events">
    <h1>Past Events</h1>
    <% @user.past_events.each do |event| %>
      <%= render 'events/single_event' , :event => event %>
    <% end %>
  </div>
</div>