<div id="nav_bar">
  <div id="title">
    <%= link_to root_path do %>
      <span>rake db:</span>
    <% end %>
  </div>
  <div id="rolling-title">
    <%= link_to root_path do %>
      <span></span>
    <% end %>
  </div>
  <div id="menu">
  <% if current_user %>
    <% if current_uri != new_event_path %>
      <%= link_to "Create an event", new_event_path %>
    <% end %>

    <% if current_uri != user_path(current_user) %>
    <%= link_to "Profile", user_path(current_user) %>
    <% end %>

    <%= link_to "Logout", '/logout' %>
  <% end %>
  </div>
</div>