<%= form_for @event do |f| %>
  <ul>
    <li><%= f.text_field(:title, :placeholder =>  "Title") %></li>
    <li><%= f.text_area :description, :placeholder => "Description" %></li>
    <li><%= f.datetime_select :starts_at %></li>
    <li><%= f.text_field :duration, :placeholder => "Duration" %></li>
    <li><%= f.text_area :location, :placeholder => "Location" %></li>
    <li><%= f.submit %></li>
  </ul>

<% end %>
