<div class="event <%= @event.id %>">
  <h1>This Event</h1>
  <%= render 'votes/eventvote_buttons', :event => @event %>
  <ul>
    <li>title: <%= @event.title %></li>
    <li>description: <%= @event.description %></li>
    <li>starts at: <%= @event.starts_at %></li>
    <li>duration: <%= @event.duration %></li>
    <li>location: <%= @event.location %></li>
  </ul>
  <%= render 'events/attend' %>
  <%= render 'events/links', :event => @event %>
</div>
<%= render 'comments/form', :event => @event, :commentable => @event %>

<% children(@all_comments, @event).reverse.each do |comment| %>
<%= render 'votes/commentvote_buttons', :comment => comment %>
  <%= render 'comments/show', :comment => comment %>
<% end %>
